<div>
  <div class="min-vh-100 jobs">
    <div class="container mx-auto p-2 d-flex align-items-centre justify-content-around flex-wrap">

      <% if (jobs.length === 0)  { %>
        <p class="text-center text-white mt-4" style="font-size: 1.2rem;">No jobs available yet..😓</p>
      <% } else { %>
        <% jobs.forEach(job => { %>
          <div class="job-card card border-white m-3" style="max-width: 18rem">
            <div class="card-header d-flex flex-column align-items-centre justify-content-start p-2">
              <span style="width: 160px"
                class="bg-primary bg-opacity-25 text-white border border-success p-1 border-opacity-50 rounded">
                Actively hiring
                <i class="fa-solid fa-arrow-trend-up text-success mx-2"></i>
              </span>
              <h5 class="my-1 fw-bold text-warning"><%= job.company_name %></h5>
              <div>
                <span><%= job.job_category %></span>
                <span class="text-info"><%= job.job_designation %></span>
              </div>
            </div>
            <div class="card-body d-flex align-items-centre justify-content-center flex-column">
              <p class="fw-bold">
                <i class="bi bi-geo-alt-fill"></i>
                 <i class="fa-solid fa-location-dot"></i>
                <%= (job.job_location).toLowerCase() !=="remote" ? job.job_location: "REMOTE" %> IND <%=
                    (job.job_location).toLowerCase() !=="remote" ? "ON-SITE" : "" %>
              </p>
              <p class="fw-bold">
                ₹ <%= job.salary %>
              </p>
              <div class="skills p-1">
                <% if (job.skills_required && job.skills_required.length > 0) { %>
                  <% job.skills_required.forEach(skill => { %>
                    <button class="btn btn-sm btn-outline-info mt-1"><%= skill %></button>
                  <% }) %>
                <% } %>
              </div>
              <a href="/jobs/<%= job.id %>" class="btn btn-sm btn-outline-success my-2">
                View details
              </a>
            </div>
          </div>
        <% }) %>
      <% } %>

    </div>
  </div>
</div>
